*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
}

img {
  display: block;
  width: 100%;
}

.home {
  background-color: #674baf;
  background-image: url(..//images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem 2.25rem;
  min-height: 100vh;
}
@media (min-width: 62rem) {
  .home {
    background-image: url(..//images/bg-desktop.svg);
    padding-top: 3.375rem;
  }
}
@media (min-width: 92rem) {
  .home {
    justify-content: center;
  }
}
.home__header {
  width: 100%;
  max-width: 81rem;
}
.home__header--logo {
  width: 8rem;
}
@media (min-width: 75rem) {
  .home__header--logo {
    width: 13.25rem;
  }
}
.home .split {
  width: 100%;
  max-width: 81rem;
  margin: 3.75rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}
@media (min-width: 75rem) {
  .home .split {
    flex-direction: row;
    margin: 5.438rem 0 1.25rem;
    align-items: flex-start;
    gap: 3.375rem;
  }
}
.home .split .text {
  text-align: center;
  max-width: 32rem;
}
@media (min-width: 75rem) {
  .home .split .text {
    margin-top: 2.688rem;
    text-align: left;
  }
}
.home .split .text__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}
@media (min-width: 75rem) {
  .home .split .text__title {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}
.home .split .text__paragraph {
  margin: 0.75rem 0 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
@media (min-width: 75rem) {
  .home .split .text__paragraph {
    margin: 1.25rem 0 1.5rem;
    font-size: 1.125rem;
    line-height: 1.688rem;
  }
}
.home .split .text__button {
  display: inline-block;
  background: #fff;
  color: #674baf;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0.75rem 4.75rem 0.7rem;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.home .split .text__button:hover {
  background: #e882e8;
  color: #fff;
  transition: 0.5s;
}
@media (min-width: 75rem) {
  .home .split .text__button {
    font-size: 1.125rem;
    padding: 0.82rem 4rem 1rem;
  }
}
.home__social-media {
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
@media (min-width: 48.75rem) {
  .home__social-media {
    justify-content: right;
  }
}
@media (min-width: 75rem) {
  .home__social-media {
    gap: 1rem;
  }
}
.home__social-media .icon {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-decoration: none;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.home__social-media .icon:hover {
  color: #e882e8;
  border: 1px solid #e882e8;
  transition: 0.5s;
}
@media (min-width: 75rem) {
  .home__social-media .icon {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */